date

<div class="form-group">
    <label class="control-label ">
        Doğum tarixi
    </label>
    <div class="">
        <div class="input-group input-medium date date-picker"
             data-date="12-02-2012"
             data-date-format="dd-mm-yyyy"
             data-date-viewmode="years">
            <input type="text"
                   class="form-control"
                   readonly>
            <span class="input-group-btn">
                                                                                <button class="btn default"
                                                                                        type="button">
                                                                                    <i class="fa fa-calendar"></i>
                                                                                </button>
                                                                            </span>
        </div>
        <!-- /input-group -->
        <span class="help-block"></span>
    </div>
</div>

select 2

<div class="form-group">
    <label for="multiple" class="control-label">
        Məsuliyyətə cəlb edilmiş şəxsin profilaktik qeydiyyata götürülməsi və onunla tərbiyəvi-qabaqlayıcı işin
        aparılması üçün tədbir görülübmü ?
    </label>
    <select class="form-control select2">
        <option value=" ">Bəli</option>
        <option value="AK">Xeyr</option>
    </select>
</div>


text

<div class="form-group">
    <label class="control-label">
        Milliyyəti
    </label>
    <input type="text"
           placeholder="Milliyyəti"
           class="form-control"/>
</div>